.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  margin: 1rem 0;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.contact-info span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info div {
  width: 50%;
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: var(--first-color);
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .text {
  padding-top: 0.4rem;
  text-align: center;
}

.map {
  width: 100%;
  margin: 1rem;
}