:root {
  --first-color: orange;
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--title-color);
  font-weight: 600;
  text-align: center;
}

/* Nav bar */

header {
  position: relative;
}

.navbar {
  position: fixed;
  background-color: var(--body-color);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.mlinks a:hover {
  color: var(--first-color);
}

.navbar .logo a {
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: center;
}

.navbar .mlinks {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-button {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 2rem;
  display: none;
}

.action-button {
  margin: 0 2rem;
  background-color: orange;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 0.8rem;
}

.navbar .action-button:hover {
  scale: 1.1;
}

.navbar .action-button:active {
  scale: 0.95;
}

/* Drop down Navbar */

.dropdown-menu {
  position: fixed;
  right: 2rem;
  top: 60px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  height: 0px;
  z-index: 999;
  transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 270px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .donate {
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  color: rgb(44, 44, 44);
}

.toggle-button {
  color: rgb(95, 95, 95);
}

/* home page elements */

.bg {
  height: 100vh;
  background-image: url("../assets/images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg>h1 {
  color: white;
  text-align: center;
  padding-top: 50vh;
  margin: 0%;
}

.image-scroller {
  margin: 20px;
  width: 100%;
  aspect-ratio: 16/9;
}

.slider {
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

.aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus .text {
  text-align: center;
  padding: 10px;
  font-size: larger;
}

/* footer */

.footer {
  background-color: #111;
}

.footer h3 {
  text-align: center;
  color: white;
  font-size: large;
  padding: 20px;
}

.footerContainer {
  width: 100%;
  padding: 70px 0px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  width: 32px;
  height: 32px;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}

.social-icons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.social-icons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.contact-bg {
  padding-top: 60px;
  height: 40vh;
  background-color: #1f1f1f;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: orange;
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%;
}

.text {
  font-weight: 300;
  opacity: 0.9;
}

.contact-bg .text {
  margin: 1.6rem 0;
}

@media (max-width: 800px) {
  /* .slider {
    height: 400px;
  } */

  .navbar>.mlinks,
  .navbar>.donate {
    display: none;
  }

  .navbar>.toggle-button {
    display: block;
  }

  .about-us {
    flex-direction: column;
  }

  .dropdown-menu {
    display: block;
  }

  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }

  .social-icons a {
    padding: 8px;
    margin: 4px;
  }

  .aboutus {
    flex-direction: column;
  }

  .aboutus .text {
    padding: 10px 20%;
  }

  .about p {
    padding: 10px 10%;
  }

  .about li {
    padding: 10px 10%;
  }

  .contact-bg .text {
    width: 50%;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-info div {
    width: 50%;
  }

  .contact-bg h3 {
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}